<div class="container">
    <div class="col-sm-12 center">
        <header>
            <nav class="navbar navbar-light bg-light">
                <a class="nav-link" href="/">Home</a>
                <form method="post" action="/part1" class="inline">
                <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                <button type="submit" name="submit_param" value="submit_value" class="link-button">
                    Part 1 TextBlob
                </button>
                </form>
                <form method="post" action="/part2" class="inline">
                <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                <button type="submit" name="submit_param" value="submit_value" class="link-button">
                    Part 2 Vader
                </button>
                </form>
                <form method="post" action="/part3" class="inline">
                <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                <button type="submit" name="submit_param" value="submit_value" class="link-button">
                    Part 3 Drill-Down Chart
                </button>
                </form>
                <form method="post" action="/part4" class="inline">
                <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                <button type="submit" name="submit_param" value="submit_value" class="link-button">
                    Part 4 Two Topics
                </button>
                </form>
            </nav>
        </header>
    </div>
</div>