<div class="container">
    <div class="col-sm-12 center">
        <header>
            <nav class="navbar navbar-light bg-light">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/about">About</a>
                <form method="post" action="/part1" class="inline">
                <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                <button type="submit" name="submit_param" value="submit_value" class="link-button">
                    Part 1 TextBlob
                </button>
                </form>
                <a class="nav-link" href="/part2">Part 2 Vader</a>
                 <a class="nav-link" href="http://google.com">Google</a>
            </nav>
        </header>
    </div>
</div>