
{% extends 'partials/layout.html' %}

{% block content  %}
{% for tweet in query %}
    <div>
        {{ tweet }}
    </div>
<hr/>
    {% endfor %}
 <div id = "container" style = "width: 550px; height: 400px; margin: 0 auto"></div>
      <script language = "JavaScript">
   Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: "How are people reacting to Ireland's Budget for 2022?"
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data:[{
            name: 'Positive',
            y: {{ pos_result }}
        }, {
            name: 'Negative',
            y: {{ neg_result }}
        }, {
            name: 'Neutral',
            y: {{ neu_result }}
        }]
    }]
});
    </script>
{% endblock %}